!!!5
%html
  %head
    %title Easy Jobs!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag

  %body
    #wrapper
      #header
      %h1#logo
        Easy Jobs!
      = yield
